body{

background-color: white;

}


h1{


}

form{



}

.script{
color: rgb(83, 66, 8);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: flex;
flex-wrap: wrap;



}

.identity{

    
}

.localisation{
 

}


.passeport{
    
   


}

